* {
  font-family: "Courier New"
}

body {
  background-color: #000;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none;
  }
}

.node-final {
  stroke: royalblue;
  stroke-width: 2px;
}

.node-justified {
  stroke: deeppink;
  stroke-width: 1px;
}

.node-pending {
  stroke: black;
  stroke-width: 0.5px;
}

.node {
  cursor: pointer;
}

.node:active {
  stroke: dodgerblue;
  stroke-width: 1px;
}

.tree-link {
  fill: none;
  stroke: lightslategrey;
  stroke-width: 2px;
}

.tree-link-canonical {
  stroke: lime;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 12em;
    height: 5em;
    padding: 8px;
    font: 1em "Courier New";
    background: lightgray;
    border: gray;
    border-radius: 5px;
}

.tooltip-span {
  display: block;
  font: 1em "Courier New";
}

div.info-box {
    position: absolute;
    bottom: 10px;
    right: 25%;
    z-index : 999;
    text-align: left;
    width: 50%;
    height: 14%;
    padding: 8px;
    font: 1em "Courier New";
    background: lightgray;
    border: solid 1px #aaa;
    border-radius: 3px;
    display: block;
    z-index : 999;
}


.palette {
  position: absolute;
  top: 20px;
  left: 5px;
  width: 98%;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  margin-right: 10px;
  z-index : 998;
}

.palette-box {
  border-color: white;
  border-width: 1px;
  border-style: solid;
  margin: 10px 5px;
  padding: 5px;
  /* display: inline-block;
  vertical-align: top; */
  z-index : 998;
}

.palette-panel {
  background-color: darkslateblue;
  border: none;
  color: white;
  word-wrap: break-word;
  padding: 10px 10px;
  text-align: left;
  display: block;
  font-size: 16px;
  margin: 4px 2px;
  z-index : 998;
}

.palette-button {
  background-color: royalblue;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  z-index : 999;
}

.palette-button:hover {
  background-color: darkslateblue;
  color: white;
}

.grafitti {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 6em;
  padding: 8px;
  color: deeppink;
  font-size: 2em;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  margin: 10px 10px;
  z-index : 998;
}

.main-svg {
  border-color: white;
  border-width: 0.5px;
  border-style: solid;
  margin: auto;
}

.node-label {
  font: 1em "Courier New";
}
