<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% include "analytics.html" ignore missing %}
    <link rel="stylesheet" href="static/style.css" type="text/css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/6.2.0/d3.js" charset="utf-8"></script>
    <script type="text/javascript" src="static/script.js" charset="utf-8" defer></script>
    <title>Fork Choice Visualizer</title>
  </head>
  <body onresize="onResize()">

    <div class="palette">
      <div class="palette-box" style="float: left;">
        <div class="palette-panel">Curr. Slot: <span id="current-slot"></span></div>
        <div class="palette-panel">Curr. Epoch: <span id="current-epoch"></span></div>
        <div class="palette-panel">Fin. Epoch: <span id="finalized-epoch"></span></div>
        <div class="palette-panel">Just. Epoch: <span id="justified-epoch"></span></div>
      </div>
      <div class="palette-box hidden-mobile" style="float: left; max-width: 40%;">
        <div class="palette-panel">Head Root: <span id="head-root"></div>
        <div class="palette-panel">Fin. Root: <span id="finalized-root"></div>
      </div>
      <div class="palette-box" style="float: right;">
        <button class="palette-button-enabled" id="auto-reload">Auto-Reload</button>
        <button class="palette-button" id="toggle-label">Toggle Labels</button>
        <button class="palette-button" id="reset">Reset View</button>
        <button class="palette-button" id="redraw-tree">Redraw (Tree)</button>
        <button class="palette-button" id="redraw-cluster">Redraw (Cluster)</button>
      </div>
    </div>

    <div class="grafitti">
      eth2.ninja
    </div>
  </body>
</html>
